
@font-face {
    font-family: Punkboy;
    src: url(./css/punkboy.regular.ttf)
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: green;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}


.vranger {
    margin-top: 50px;
     transform: rotate(270deg);
    -moz-transform: rotate(270deg); /*do same for other browsers if required*/
  }


  #start-game {
      font-size: 50px;
  }

  button {
    color: black;
    cursor: pointer;
    display: block;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    padding: 10px;
    max-width: 200px; 
    position: relative;
    text-decoration: none;
    width: 100%; 
    font-family: Punkboy;
 }


 * {
    box-sizing: border-box;
  }
  html,
  body {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    
  }

  body {
    background-image: -webkit-radial-gradient(ellipse, #2a437c 0, #10203b 100%);
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    
  }
  
  .background-load {
    background-image: -webkit-radial-gradient(ellipse, #000000 0, #000000 100%);
    font-family: 'Open Sans', helvetica, arial, sans-serif;
  }
  
  h1 {
      color: white;
      font-size: 35px;
      font-family: Punkboy;
  }

  h2 {
    color: white;
    font-size: 15px;
    font-family: Punkboy;
}
  
  .arrows {
    height: 150px;
  }

  .spacebar {
    height: 100px;
  }
  
  .video {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

canvas {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    -webkit-animation: fadein 2s;
}

.videofadeout {
    -webkit-animation: fadeout 5s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
